<!DOCTYPE html>
<html lang="en">
<head>  
    <%- include ('partials/head') -%>
    <title>Edit Movies</title>
    <link rel="icon" href="Icon/favicon.ico">
</head>  
<body>
    <%- include ('partials/nav') -%> 
    
    <div class="container d-flex justify-content-center" style="background-color: #8D98BF" >
        <div class="col-5 d-flex justify-content-center">
            <img class="img-responsive rounded" style='width:70%; height: 404px; margin: 8%; border: 1px solid black' src="<%= '/images/posters/' + movie.poster %> "  alt="">
        </div>       
        <div class="col-5 d-grid justify-content-left align-items-center">
            <h1>Edit movie:</h1>
            <form action="/movies/update/<%= movie._id %> " method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" placeholder='Movie title' class="form-control" name='title' value="<%= movie.title %> ">
                </div>
                <div class="form-group my-4">
                    <input type="text" placeholder='Genre' class="form-control" name='genre' value='<%= movie.genre %>'>
                </div>
                <div class="form-group my-4">
                    <input type="number" placeholder='Year' class="form-control" name='year' value='<%= movie.year %>'>
                </div>
                <div class="form-group my-4">
                    <input type="number" placeholder='Rating' class="form-control" name='rating' value='<%= movie.rating %>'>
                </div>
                <%if (locals.error !== undefined) { %>
                        <div class="alert alert-danger">
                        <%= error %> 
                        </div>
                <% } %> 
                <button class="btn btn-success d-block w-100">Save</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <%- include ('partials/Footer') -%>
</body>
</html>